<footer>
  <div class="footer-container">
    <div class="logoFooterContainer">
      <img class="footer-logo" src="/assets/logo.svg" alt="O'coffee Logo" />
      <h2 class="footer-logo-title">O'Coffee</h2>
    </div>
    <nav class="footer-nav">
      <ul>
        <li class="link">
          <a class="nav-links" href="/"><i class="fa-solid fa-house"></i>Accueil</a>
        </li>
        <li class="link">
          <a class="nav-links" href="/catalog"><i class="fa-solid fa-list"></i>Catalogue</a>
        </li>
        <li class="link">
          <a class="nav-links" href="/shop"><i class="fa-solid fa-shop"></i>La Boutique</a>
        </li>       
      </ul>
    </nav>
    <div class="footer-socials">
      <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
    <p>&copy; 2025 O'Coffee - Tous droits réservés</p>
  </div>
</footer>
</body>

</html>